{% block beforehead %}{% endblock %}
{% block head %}
{% if config.seccion == null or config.seccion == "cabecera" %}
<div class="dropdown {{config.right}}">
<button class="btn btn-{{config.style}} btn-{{config.size}} dropdown-toggle" type="button" data-toggle="dropdown">
{{config.label}} <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{childComponents | raw}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}
{% if config.seccion == null or config.seccion == "pie" %}
</ul></div>
{% endif %}
{% endblock %}
{% block afterfoot %}{% endblock %}