{% block beforehead %}{% endblock %}
{% block head %}
{% if config.typeError == null %}<div class="form-group">{% else %}<div class="form-group has-{{config.typeError}}">{% endif %}
<label for="{{config.id}}" class="control-label input-{{config.inputSize}}">{{config.label}}</label>
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<input class="form-control input-{{config.inputSize}}" type="{{config.type}}" id="{{config.id}}" name="{{config.name}}" placeholder="{{config.placeholder}}" value="{{datos.value}}">
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}   
</div>
{% endblock %}
{% block afterfoot %}{% endblock %}