{% block beforehead %}{% endblock %}
{% block head %}
<div class="form-group">
<label for="input_type" class="col-md-2 control-label">{{config.label}}</label>
<div class="col-md-10">
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<input class="form-control" type="{{config.type}}" id="input_type" name="{{config.name}}" placeholder="{{config.placeholder}}" value="{{datos.value}}">
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}   
</div></div>
{% endblock %}
{% block afterfoot %}{% endblock %}