{% block beforehead %}{% endblock %}
{% block head %}
{% if config.typeError == null or config.message == null %}<div class="form-group">{% else %}<div class="form-group has-{{config.typeError}}">{% endif %}
<label for="{{config.id}}" class="col-md-2 control-label input-{{config.inputSize}}">{{config.label}}</label>
<div class="col-md-10">
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<input class="form-control input-{{config.inputSize}}" type="{{config.type}}" id="{{config.id}}" name="{{config.name}}" placeholder="{{config.placeholder}}" value="{{datos.value}}">
{% if config.message != null %}<span class="help-block">{{config.message}}</span>{% endif %}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}   
</div></div>
{% endblock %}
{% block afterfoot %}{% endblock %}