{% block beforehead %}{% endblock %}
{% block head %}
{% if config.button == "si" %}<a href="{{config.href}}" class="btn btn-{{config.style}} btn-{{config.size}}" id="{{config.id}}">
{% else %}<a href="{{config.href}}" id="{{config.id}}">{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{config.label}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</a>{% endblock %}
{% block afterfoot %}{% endblock %}