{% block beforehead %}{% endblock %}
{% block head %}<button type="{{config.type}}" class="btn btn-{{config.style}}" id="{{config.id}}" onclick="{{config.onclick}}">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{config.label}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</button>{% endblock %}
{% block afterfoot %}{% endblock %}