{% block beforehead %}{% endblock %}
{% block head %}
{% if config.seccion == null or config.seccion == "cabecera" %}
<form class="form-horizontal" role="form" id="formService" method="{{config.method}}" action="{{config.action}}" enctype="{{config.enctype}}"><fieldset class="hijos-fieldset">
{% if config.label != null %}<legend>{{config.label}}</legend>{% endif %}
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}{{hijos | raw}}{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}             
{% if config.seccion == null or config.seccion == "pie" %}</fieldset></form>{% endif %}
{% endblock%}
{% block afterfoot %}{% endblock %}