{% extends "componentes/formulario/formulario.html.twig" %}
{% block beforehead %}<div style="background-color: #eee; padding: 5px;">{% endblock %}
{% block body %}
<h2 class="">{{config.title}}</h2>
<input type="text" class="form-control" placeholder="{{datos.user.placeholder}}" name="{{datos.user.name}}" value="{{datos.user.value}}" required autofocus>
<input type="password" class="form-control" placeholder="{{datos.pass.placeholder}}" name="{{datos.pass.name}}" required>
<div class="checkbox">
<label><input type="checkbox" name="{{datos.check.name}}" value="{{datos.check.value}}"> {{datos.check.label}}</label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">{{config.labelButton}}</button>
{% endblock %}        
{% block afterfoot %}</div>{% endblock %}