{% block beforehead %}{% endblock %}
{% block body %}
{% if config.inline == "no" %}
<div class="radio">
<label for="radios-{{config.num}}">
{% if config.checked == "si" %}
<input type="radio" name="{{config.name}}" id="radios-{{config.num}}" value="{{datos.value}}" checked="checked">
{% else %}
<input type="radio" name="{{config.name}}" id="radios-{{config.num}}" value="{{datos.value}}">
{% endif %}
{{config.label}}
</label>
</div>
{% else %}   
<label class="radio-inline" for="radios-{{config.num}}">
{% if config.checked == "si" %}
<input type="radio" name="{{config.name}}" id="radios-{{config.num}}" value="{{datos.value}}" checked="checked">
{% else %}
<input type="radio" name="{{config.name}}" id="radios-{{config.num}}" value="{{datos.value}}">
{% endif %}
{{config.label}}
</label>
{% endif %}
{% endblock %}
{% block afterfoot %}{% endblock %}