{% block beforehead %}{% endblock %}
{% block head %}<div class="well">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<h4><span class="glyphicon glyphicon-search"></span> {{config.label}}</h4>
<div class="input-group">
<input type="text" class="form-control" name="{{config.input.name}}" placeholder="{{config.input.placeholder}}" value="{{datos.value_input}}">
<span class="input-group-btn"><button class="btn btn-default" type="button" id="{{config.id}}" onclick="{{config.onclick}}"><span class="glyphicon glyphicon-search"></span></button></span>
</div>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}