{% block beforehead %}{% endblock %}
{% block body %}
{% if config.type == "item" %}
{% if config.disabled == "si" %}
<li role="presentation" class="disabled">
{% else %}
<li role="presentation">
{% endif %}
<a role="menuitem" tabindex="-1" href="{{config.href}}">{{config.label}}</a>
</li>
{% elseif config.type == "item_onclick" %}
{% if config.disabled == "si" %}
<li role="presentation" class="disabled">
{% else %}
<li role="presentation">
{% endif %}
<a role="menuitem" tabindex="-1" onclick="{{config.href}}">{{config.label}}</a>
</li>
{% elseif config.type == "divider" %}
<li role="presentation" class="divider"></li>
{% else %}
<li role="presentation" class="dropdown-header">{{config.label}}</li>
{% endif %}
{% endblock %}
{% block afterfoot %}{% endblock %}