{% block beforehead %}{% endblock %}
{% block head %}
{% if config.seccion == null or config.seccion == "cabecera" %}
<form class="form-inline" role="form" id="{{config.id}}" method="{{config.method}}" action="{{config.action}}" enctype="{{config.enctype}}">
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}{{childComponents | raw}}{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}             
{% if config.seccion == null or config.seccion == "pie" %}</form>{% endif %}
{% endblock%}
{% block afterfoot %}{% endblock %}